body {
  background-color: #edb1f1;
  font-family: "Inter", sans-serif;
  font-size: 400;
}
main {
  padding: 30px;
}
.app {
  background: white;
  max-width: 650px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px #41326414;
}

header {
  padding: 30px 0 0 0;
}
.search-input {
  background-color: #edb1f1;
  color: #27214266;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-button {
  background: #c54c82;
  color: white;
  padding: 15px 25px;
  margin: 8px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  color: purple;
}
.weather-forecast-temperature {
  padding: 0 10px;
}

a {
  color: #c54c82;
}
footer {
  padding: 15px 0 0 0;
  font-size: 15px;
  text-align: center;
  color: #27214266;
}
.percentage {
  color: purple;
}
.wind {
  color: purple;
}
.weather-details {
  margin: 0;
  font-size: 18px;
  color: #27214266;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 0 0 0;
}

.city-temp-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.temperature-app-container {
  display: flex;
}

.temperature-icon {
  margin-top: 22px;
  width: 80px;
  height: 80px;
}

.temperature-now {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.temperature-unit {
  margin-top: 16px;
  font-size: 28px;
}
.city-input {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
